@mixin titulos {
  background-color: $marron_claro;
  color:black;
  text-align: center;
  font-family: $tipografia-general ;
}

@mixin parrafos{
  margin-right: 10px;
  margin-left: 10px;
  font-family: $tipografia-general;
}

.yogui__descripcion{@include parrafos}


.streching{
	h1 {
		@include titulos
	}
	p {
	@include parrafos
	}
}
.yogui, .funcional, .principal{
  h1{@include titulos}
}

.principal{@include titulos}

.logo {width: 50px;
height: 50px;
}
.card-text, .nav-link, h6, h2, p, .card-body, .card-header{font-family: $tipografia-general;}


.card {margin-top: 15px;
}

.iconos{width: 30px;
height: 25px;
display: block; 
margin: auto;
}

.section-heading, .right-text-content{margin-bottom: 100px;
margin-top: 50px;}


.features-item {margin-bottom: 100px;
  margin-top:5px;}

.img-fluid {margin-top: 20px;}