@mixin titulos {
  background-color: $marron_claro;
  color:black;
  text-align: center;
  font-family: $tipografia-general ;
}

@mixin parrafos{
  margin-right: 10px;
  margin-left: 10px;
  font-family: $tipografia-general;
}

.yogui__descripcion{@include parrafos}


.streching{
	h1 {
		@include titulos
	}
	p {
	@include parrafos
	}
}
.yogui, .funcional, .principal{
  h1{@include titulos}
}

.principal{@include titulos}

.logo {width: 50px;
height: 50px;
}
.card-text, .nav-link, h6, h2, p, .card-body, .card-header{font-family: $tipografia-general;}


.card {margin-top: 15px;
}

.iconos{width: 30px;
height: 25px;
display: block; 
margin: auto;

}


.section-heading, .right-text-content{margin-bottom: 100px;
margin-top: 50px;}

.img-fluid {margin-top: 20px;}


#about{background-color: $marron_claro;
margin-bottom: -20px;}

.borrar{
margin-top: 50px;}

.right-text-content{background-color: aqua;}


.section-heading{background-color: $marron_oscuro;
margin-top: 10px;}





.ml5 {
  position: relative;
  font-weight: 300;
  font-size: 3.5em;
  color: #402d2d;
  font-family: $tipografia-general;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #402d2d;
  transform-origin: 0.5 0;
}


.ml5 .letters {
  display: inline-block;
  opacity: 0;
}


.card-title{text-align: center;}

.card-img-top{width: 30px;
  height: 25px;
  display: block; 
  margin: auto;
 margin-top: 30px; 
  }



.fab:hover{ border:$marron_claro;
  transform:scale(1.80);
}

.fab{color: $marron_claro;}
.redes{color: $marron_claro;}














.line-1{
    position: relative;
    top: 50%;  
    width: 10em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
    color: $marron_claro;
    margin-top: 20px;
    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


